.hentry {
  .entry-content, .entry-summary {
      color: #2c3e50;
      font-size: 14px;
      font-family: @body-font-family;
  }
  .entry-title {
    a {
      &:hover,
      &:focus,
      &:active {
        color: #0099fe;
        text-decoration: none;
      }
    }
  }

  .more-link {
  	font-weight: 700;
  }
}


.single {
  .wrap {
  	padding: 0 15px;
  }
  .entry-content {
    font-size: 18px;
    line-height: 1.7;
    a {
      color: #e74c3c;
    }
  }
}

/*nav main*/
.banner {
  &.no-cover {
      padding-bottom: 40px;
  }
  .container {
    width: 100%;
 	  max-width: 1400px;
    @media (max-width: @screen-md-lg) {
      padding-left: 0;
      padding-right: 0;
    }

    .page-title {
      font-size: 20px;
      font-family: Montserrat,"Open Sans",sans-serif;
      border: none ;
      max-width: 768px;
      margin: 200px auto 24px;
      overflow: hidden;
      font-weight: 900;
      line-height: 1.3;
      padding-bottom: 0;
      display: block;
      margin-bottom: 10px;

      @media (min-width: @screen-md) {
        font-size: 40px;
      }
    }

    .page-description {
      font-size: 14px;
      font-weight: 300;
      color: rgba(255,255,255,.75);
      font-family: @body-font-family;
      text-transform: none;
      opacity: 1;
      display: inline-block;

      @media (min-width: @screen-md) {
        font-size: 16px;
        font-style: italic;
      }
      &::before,
      &::after {
        @media (min-width: @screen-lg) {
          content: '';
          position: absolute;
          width: 48px;
          background: #ecf0f1;
          background-color: rgba(255,255,255,.5);
          top: 50%;
          height: 2px;
        }
      }
      &::before {
        right: 100%;
        margin-right: 3%;
      }
      &::after {
        left: 100%;
        margin-left: 3%;
      }
    }

    #get-started {
      border-radius: 3px;
      padding: 10px 24px;
      font-size: 16px ;
      font-family: @body-font-family;
      text-transform: capitalize;
      color: rgba(0,0,0,.5);
      font-weight: 400;
      background: rgba(255,255,255,.2);
      &:hover {
        background: transparent;
        border-color: #fff;
        color: transparent;

        a {
          color: #666;
        }
      }

      a {
        color: #fff;
      }
    }
  }

  hgroup:after {
      background-color: inherit !important;
  }
}


.nav-main {
  margin: 0px;
  border: 0px none;
  .navbar-nav {
    float: right;
    @media (max-width: @screen-md-lg) {
      background: #fff;
    }
      ul {
        a {
          &:hover {
            color: #0099fe;
          }
        }
      }

      li {
        &:hover, &:active {
          a {
            &::before {
              position: absolute;
              width: auto;
              left: 15px;
              right: 15px;
              content: "";
              display: block;
            }
          }
        }
        a:before {
          @media (min-width: @screen-md) {
          	position: absolute;
            left: 50%;
            right: 50%;
            content: "";
            display: block;
            height: 1px;
            bottom: 2px;
            background-color: #fff;
            transition: all ease .3s;
            -moz-transition: all ease .3s;
            -webkit-transition: all ease .3s;
            -o-transition: all ease .3s;
          }
        }
      }
    li.active {
      border-bottom: 0px;
       a {
         color: #0099fe;
       }
    }

    .sub-nav-open {
      color: rgba(255, 255, 255, 0.7);
      margin-left: -7px;
      font-size: 16px;
    }
  }

  li {
    a {
      color: #fff;
      font-size: 14px;
      font-family: @body-font-family;
      text-transform: inherit;
      font-weight: 500;
    }
  }

  &.top-nav-collapse {
    // background: #fff;
    // border-bottom: #fff;
    li a {
      color: #67707c;
      font-size: 14px;
      font-family: @body-font-family;
      text-transform: inherit;
      font-weight: 500;
      &:hover,
      &:active,
      &:focus {
        color: #0099fe;
      }
    }

    @media (max-width: @screen-xs) {
      padding-top: 0;
    }
    ul#menu-main-nav {
      @media (max-width: @screen-md-lg) {
        border-top: 1px solid #ddd;
      }
      li {
        a:hover,
        a:active {
          @media (max-width: @screen-md-lg) {
              color: #666;
              text-decoration: none;
          }
        }
      }
    }

    .glyphicon-align-justify {
      color: #666;
    }

    @media (min-width: @screen-md) {
      padding: 0px !important;
      background: rgba(255, 255, 255, 0.95) none repeat scroll 0% 0%;
      border-bottom: 1px solid #ECF0F1;
      box-shadow: 0px -2px 4px 4px rgba(0, 0, 0, 0.05);
      min-height: 50px;
      margin-bottom: 20px;
    }

    img.logo-white {
      display: none;
    }

    img.logo-gray {
        display: block;
    }
  }
  @media (min-width: @screen-md-lg) {
    padding: 16px 0px;
    border-bottom: medium none;
    letter-spacing: 1px;
    background: transparent none repeat scroll 0px 0px;
    transition: background 0.2s ease-in-out 0s, padding 0.2s ease-in-out 0s;
  }

  .navbar-brand {
  	margin: 8px 0 0 15px;
    position: relative;
    padding: 0;
    height: 35px;
  }
  &.navbar-fixed-top {
    padding: 16px 0px;
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1030;
    top: 0px;
  }

  .glyphicon {
  	color: #fff;
    font-size: 20px;
  }

  .navbar-toggle {
    @media (min-width: @screen-lg) {
      display: none;
    }
  }

  img.logo-gray {
    display: none;
  }
}


/*Footer section*/

.footer {
  background-image: linear-gradient(45deg,#0b0b1b,#4dbee7);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-bottom: 0;
  padding-top: 50px;

  .footer-coppyright {
    font-size: 14px;
    color: #eee;
    padding: 30px 0;
    margin: 0;
    text-align: center;

    p.text-center {
      text-align: center;
      padding: 0;
      margin: 0;
    }
  }
  .container {
    .footer-nav {
      margin: 0;
      min-height: 200px;
      padding: 30px 0 40px 30px;
      border-bottom: 1px solid rgba(255,255,255,.1);

      .social {
        margin: 10px 0 20px;
        a {
            display: inline-block;
            margin: 0 15px 0 0;
         i {
            width: 20px;
            height: 20px;
            display: block;
            text-align: center;
            line-height: 35px;
            color: #e1e1e1;
            font-size: 20px;
            transition: all ease .3s;

            &:hover {
              color: #fff;
            }
          }
        }
      }

      .ul-footer {
        float: right;
        li {
          display: inline-block;
          margin: 0 0 0 10px;
          float: left;
        }
        h4 {
          text-transform: uppercase;
          margin: 0 0 20px;
          text-align: right;
          a {
            color: #fff;
          }
        }

        li ul li {
          margin: 5px 0;
          display: block;
          float: none;
          a {
            font-size: 14px;
            color: #e1e1e1;
            transition: all ease .3s;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }
}

.admin-bar .navbar-main {
	padding-top: 40px !important;

}


/*db category page*/
.page-template-page-designbold-single,
.page-template-page-designbold-category {
	background: #fff;

    .main {
      width: 100%;
      margin-left: 0;

      div#content {
        float: right;
        padding-top: 30px;
        .entry-thumbnail img.db-thumbnail {
            width: 100%;
            height: 250px;
            object-fit: cover;
            overflow: hidden;
        }
        .db-navigation  {
        	text-align: center;
          clear: left;
          .navigation {
            li {
              display: inline;

              &.disabled {
                color: #fff;
                text-decoration:none;
                background-color: #0099fe;
              }
              &.active {
                a {
                  color: #fff;
                  text-decoration:none;
                  background-color: #0099fe;
                }
              }
              a {
                text-decoration:none;
                background-color: #ddd;
              	-moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
              	cursor: pointer;
                margin: 0 4px;
              	padding: 8px 16px;
                color: #666;
                &:hover {
              	color: #fff;
              	text-decoration:none;
                background-color: #0099fe;
              }
            }
          }
        }
      }
    }
  }
}

.template-item {
  padding-bottom: 40px;
  @media (min-width: @screen-xs) and (max-width: @screen-md) {
    width: 40%;
    display: inline-block;
  }
  .entry-thumbnail {
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 2px #AAA;
    background: rgba(255, 255, 255, 0.8);
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    @media (max-width: @screen-md) {
      width: 100%;
    }

    &:hover {
      box-shadow:0 6px 10px #AAA;
    }

    .price-credit,
    .credit-free {
      position: absolute;
      color: #fff;
      background: rgba(0, 0, 0, 0.7);
      width: auto;
      top: 10px;
      left: 10px;
      font-style: normal;
      height: auto;
    }
    .price-credit {
      font-size: 14px;
      border-radius: 50%;
      font-family: @body-font-family;
      em {
        width: 20px;
        height: 20px;
        display: block;
        font-style: normal;
        line-height: 20px;
        text-align: center;
      }
    }

    .credit-free {
    	font-size: 11px;
      padding: 2px 6px;
      text-transform: capitalize;
      border-radius: 2px;
    }
    .caption-price {
      background-color: #0099fe;
      position: absolute;
      top: -36px;
      right: -76px;
      width: 160px;
      height: 76px;
      text-align: center;
      padding-top: 51px;
      color: #fff;
      -moz-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    .image-link-to {
      position: absolute;
      bottom: 5px;
      right: 5px;
      padding: 0 6px;
      display: block;
      font-style: italic;
    	font-weight: bold;
      color: #999;
      width: 20px;
      font-size: 12px;
      height: 20px;
      font-family: Georgia,'Times New Roman';
      border-radius: 50%;
      text-align: center;
      line-height: 20px;
      -moz-transition: all ease 0.3s;
      -webkit-transition: all ease 0.3s;
      -o-transition: all ease 0.3s;
      transition: all ease 0.3s;
      &:hover {
        background: #0099fe;
        cursor: pointer;
        a {
        	color: #fff;
        }
      }
    }

    .db-title {
      font-size: 14px;
      padding: 6px 10px;
    }
  }
}

.db-primary {
  margin-top: 50px;
  border-top: 1px solid #ddd;

  .db-secondary {
    padding-top: 6px;
  }

  p#breadcrumbs {
    font-size: 14px;
    padding-top: 10px;
  }
}

#db-custom-search-input {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  margin-top: 4px;
  border: 1px solid #ddd;
  padding-left: 20px;
  line-height: 50px;
}

.row-header {
padding-bottom: 30px;
@media (max-width: @screen-md) {
  padding-bottom: 90px;
}
  h2 {
    font-weight: 600;
    color: #000;
    font-size: 25px;
    padding: 0;
    margin: 0;
  }
}

.db-secondary {
  border-right: 1px solid #ddd;
  ul {
    padding-left: 0;
    li.cat-item-all,
    .cat-item {
      list-style: none;
      a {
        font-size: 13px;
        color: #666;
        padding-right: 4px;
        white-space: nowrap;
       	font-weight: 600;
        &:hover,
        &:focus,
        &:active {
          color: #0099fe !important;
          text-decoration: none;
        }
      }
    }

    .category-active a {
      color: #0099fe !important;
      text-decoration: none;
    }
  }
  .badge {
  	position: relative;
    background-color: transparent !important;
    color: #999 !important;
    font-weight: 400 !important;
    &::before {
      content: "(";
      position: absolute;
      top: 3px;
      left: 0;
    }
    &::after {
      content: ")";
      position: absolute;
      top: 3px;
      right: 0;
    }
  }
}


.page-template-page-designbold-single {
.post-content {
    background: #f6f5f5;
    box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    padding: 15px;
    .entry-content {
      line-height: 1.42857143;
      font-size: 14px;
      font-family: "Open Sans", sans-serif;
      font-weight: normal;
      color: #666;
      &:first-child a {
        display: block;
        text-align: center;
      }
      .db-thumbnail {
        max-width: 100%;
        height: 100%;
        vertical-align: middle;
        padding-bottom: 15px;
      }
    }
  }
}

.related-post {
  padding-top: 40px;
  .template-item {
    padding-left: 0;
  }
  h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Montserrat", "Open Sans", sans-serif;
    padding-bottom: 15px;
  }
}

.page-template-page-template-visual{
  .wrap.container {
    @media (min-width: @screen-lg) {
      width: 100%;
      padding: 0px;
      .main {
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 0;
        background: #fff;

        .circles-list ol {
          list-style-type: none;
          margin-left: 1.25em;
          padding-left: 2.5em;
          counter-reset: li-counter;
          border-left: 1px solid #00c4cc;
          position: relative;
          li {
            position: relative;
            margin-bottom: 3.125em;
            clear: both;
            &::before {
              position: absolute;
              top: -.5em;
              font-family: @body-font-family;
              font-weight: 600;
              font-size: 1em;
              left: -3.75em;
              width: 2.25em;
              height: 2.25em;
              line-height: 2.25em;
              text-align: center;
              z-index: 9;
              color: #00c4cc;
              border: 2px solid #00c4cc;
              border-radius: 50%;
              content: counter(li-counter);
              background-color: #ebeced;
              counter-increment: li-counter;
            }
          }
        }
        .content-element {
          color: #454646;
          line-height: 30px;
          font-size: 18px;
          font-family: @body-fontfamily-landingpage;
          font-weight: 400;
          text-align: left;
          p {
            margin-bottom: 26px;
          }
        }
      }
    }
  }
}



.row-section-image {
  box-shadow: 0 2px 1px rgba(0,0,0,.08);
  border: 1px solid #ddd;
  border-radius: 2px;
  #menu-more-flyer-designs {
    display: inline-block;
    width: 30%;
    li.menu-item {
      list-style: none;
      color: #454646;
      font-family: @body-font-family;
      line-height: 1.5;
      font-size: 16px;
    }
  }

  h2 {
      font-size: 18px;
      color: #000;
      font-family: @body-font-family;
      margin-bottom: 20px;
  }
}

.bottom-cover-image {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    background-image: linear-gradient(-45deg, #3f4652, #3f4652);
    background-image: -webkit-linear-gradient(-45deg, #3f4652, #3f4652);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    opacity: .8;
    filter: alpha(opacity=80);
  }
}
