// Overwrite Boostrap
// --------------------------------------------------

// Grays
// -------------------------

@gray-light:            #737373;

// Brand colors
// -------------------------

@brand-primary:         #3498db;
@brand-success:         #2ecc71;
@brand-warning:         #e67e22;
@brand-danger:          #e74c3c;
@brand-info:            #1abc9c;

// Scaffolding
// -------------------------

@body-bg: 							#f8f8f8;
@text-color:            @gray-light;

// Links
// -------------------------

@link-color:            @gray-dark;
@link-hover-color:      @brand-danger;

// Typography
// -------------------------

@headings-font-family:  'Bitter', serif;
@body-font-family:      "Open Sans",sans-serif;
@body-fontfamily-landingpage:  "Lora",serif;


// Forms
// -------------------------

@input-border-focus: 								#222;

// Tabs
// -------------------------

@nav-tabs-active-link-hover-bg: 		#fff;
@tab-content-background: 						#fff;
@tab-content-padding: 							15px;
@tab-content-border-color: 					#ddd;


// Theme
// --------------------------------------------------

// Typography
// -------------------------

@line-height-content: 1.6666666667;
@font-size-content: 16px;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;


@screen-md-lg:                  1024px;


// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);
